- if message.bad.blank? && message.user_id != current_user.id && message.chat_room.topic_create_user_id != message.user_id
  #bad-btn
    = link_to '不適切な返信', user_message_bads_path(user_id: message.user_id, message_id: message.id), method: :post, data: { confirm: '本当によろしいですか?' }, remote: true
- elsif message.bad.present? && message.user_id != current_user.id && message.chat_room.topic_create_user_id != message.user_id
  #bad-btn-aledy
    = link_to '&#10003; 不適切な返信'.html_safe, user_message_bad_path(user_id: message.user_id, message_id: message.id, id: message.bad.id), method: :delete, data: { confirm: '不適切な返信を解除します' }, remote: true