.message-box__inner
  .message-box__inner__left
    .message-box__avater
      -# = image_tag m.user.avater
  .message-box__inner__right
    .message-box__info
      .message-box__send-user-name
        %strong
          サンプルさん
    .message
      = simple_format("")
      ここにメッセージが入ります。
      ここにメッセージが入ります。
      -# = simple_format(m.content)
    .topic-box__inner__right__status
      .topic-box__inner__right__status__read
        %p 既読
      .topic-box__inner__right__status__time
        %p ３０分前
.message-box__inner
  .message-box__inner__left
    .message-box__avater
      -# = image_tag m.user.avater
  .message-box__inner__right
    .message-box__info
      .message-box__send-user-name
        %strong
          サンプルさん
    .message
      = simple_format("")
      ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。ここにメッセージが入ります。
      -# = simple_format(m.content)
    .topic-box__inner__right__status
      .topic-box__inner__right__status__noread
        %p 未読
      .topic-box__inner__right__status__time
        %p ３０分前
