.mobile-body__bottom-parts
  - if params[:controller] == 'chat_rooms' && params[:action] == 'room'
    =render 'module/input-message'

  .mobile-body__footer
    .mobile-body__footer__inner
      .mobile-body__footer__inner__icon-box
        %i.material-icons.md-dark.md-inactive
          %a{href: soudan_top_path} home
        %span.icon-item-title ホーム
        -# %a.icon-item-title{href: soudan_top_path} ホーム
      .mobile-body__footer__inner__icon-box
        %i.material-icons.md-dark.md-inactive
          search
        %span.icon-item-title 探す
      .mobile-body__footer__inner__icon-box
        %i.material-icons.md-dark.md-inactive
          %a{href: user_chat_rooms_path}mail
        %span.icon-item-title 受信箱
      .mobile-body__footer__inner__icon-box
        %i.material-icons.md-dark.md-inactive
          %a{href: "#"} perm_identity
        %span.icon-item-title メニュー