.mobile-body__bottom__message-container
  .message-container__input-message
    -# = form_for @message do |f|
    -#   = f.text_area :content, placeholder: "メッセージを入力して下さい" , class: "message-input-area", "turbolinks": false, autocomplete: "off"
    -#   = f.hidden_field :room_id, value: @room.id
    -#   = f.submit "送信", class: "message-btn"
    .message-container__input-message__input-area
    .message-container__input-message__btn