.mobile-body
  =render 'module/header'
  .mobile-body__inner
    =render 'module/mail'
    =render 'module/mail'
    =render 'module/mail'
    =render 'module/mail'
    =render 'module/mail'
    =render 'module/mail'
    =render 'module/mail'
    =render 'module/mail'
    =render 'module/mail'
  =render 'module/footer'