.mobile-body
  =render 'shared/header'
  - if @no_topics
    .no_message
      #{@no_topics}
  .mobile-body-fixe-flame
    .mobile-body__inner
      =render partial: 'user-topic_chat-rooms', collection: @chat_rooms, as: :chat_rooms
  =render 'shared/footer'