.mobile-body
  =render 'shared/header-noberger'
  .space-10
  .soudan-info-flame#soudan-info-flame
    %h3 お問い合わせ
    %p
      このサービスについて
    %p
      このサービスは気軽に相談するをコンセプトにしたサイトです。
    %p
      ご意見、ご要望などありましたら
      %a{:href => "mailto:info@terasu.work"}info@terasu.workまでお願いします。
    .space-3
=render 'shared/footer-bar'