
.mobile-body__main__topic{
  width: 100%;
  height: calc(100% - 35px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  &__inner{
    width: 100%;
    height: 100%;

  }
}


.topic-box{
  width: 85%;
  margin: 10px auto 0px auto;
  padding-bottom: 4px;
  border-bottom: 1px solid lightgray;
  .topic-box__inner{
    display: flex;
    width: 96%;
    margin: auto;
    height: 100%;
    .topic-box__inner__left{
      width: 10%;
      height: 100%;
      padding-top: 2px;
      text-align: center;
      font-size: 0.8rem;
      .status-now{
        margin: auto;
        background-color:$red;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .status-close{
        width: 4rem;
        margin: auto;
        background-color:gray;
        color: white;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .status-mail{
        color: $red;
      }
      .status-mail-count{
        color: $red;
        font-size: 1rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:hover #status-mail-count{
        color: $red;
      }
      &:hover #status-mail{
        color: $red;
      }
    }
    #topic-box__inner__right{
      width: 50% !important;
      padding-left: 2%;
    }
    .topic-box__inner__right,#topic-box__inner__right{
      width: 90%;
      padding-left: 2%;
      .topic-box__inner__right__title{
        height: 65%;
        overflow: hidden;

      }
      .topic-box__inner__right__info{
        display: flex;
        height: 30%;
        font-size: 0.5rem;
        .topic-box__inner__right__info__category{
          height: 18px;
          width: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2%;
          color: dimgray;
          font-weight: bolder;
          background-image: linear-gradient(180deg,#cae2f0 0,#c3d9e7);
          p{
            text-align: center;
            margin: 0px 4px;

          }
        }
        .topic-box__inner__right__info__messanger{
          display: flex;
          right: 0;
          width: 85%;
          &__user{
            text-align: right;
            width: 70%;
            p{

            }
          }
          &__time{
            width: 40%;
            text-align: right;
            margin-left: 0.5rem;
            text{
              text-align: right;
            }
          }
        }
      }
    }
  }
}


.topic-new-box{
  width:  100vmin;
  margin: auto;
  padding-top: 1%;
  P{
    text-align: center;
  }
  &__inner{
    padding: 5px 20px 0px 20px;
  }
}

.topic-input{
  width: 100%;
  height: 3rem;
  margin: auto;
  padding: 3px 5px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid dimgray;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.topic-category-input{
  width: 100%;
  height: 40px;
  margin: auto;
  padding: 3px 5px;
  border-radius:4px;
  border: 1px solid dimgray;
  background: #fff;
  line-height: 1.5;
  cursor: pointer;
  outline-width: 2px;
}


.topic_text{
  width: 100%;
  height: 25%;
  margin: auto;
  padding: 1% 2%;
  border-radius: 4px;
  border: 1px solid dimgray;
  background: #fff;
  line-height: 1.5;
  cursor: pointer;
  outline-width: 2px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.topic_text::-webkit-scrollbar{height:10px;}/*バーの太さ*/
.topic_text::-webkit-scrollbar-track{background:#dddddd;}/*バーの背景色*/
.topic_text::-webkit-scrollbar-thumb{background:lightseagreen;}/*バーの色*/

#topic_text{
  height: calc(90vh - 360px);
}

.topic-show-box{
  width: 100vmin;
  margin: 70px auto 0px auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  P{
    font-size: 1rem;
  }
  &__flex-box{
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }
  &__inner{
    padding: 5px 20px 10px 20px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &__title{
      border-radius: 4px;
      padding: 7px;
      background-color: gold;
      font-weight: bold;
      width: inherit;
    }
    &__text{
      line-break: strict;
      color: black;
      border-radius: 4px;
      padding: 2%;
      overflow: auto;
    }
    &__user-name{
      margin-left: 1rem;
    }
    &__category-name{
    height: 20px;
    background-color: #e91e63;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    color: dimgray;
    font-weight: bolder;
    background-image: linear-gradient(180deg, #cae2f0 0, #c3d9e7);
    font-size: small;
    }
    &__user-icon{
      border-radius: 50%;
      height: 40px;
      width: 40px;
      background-image: url(no-image);
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      white-space: nowrap;
      i{
        font-size: 1.5rem;
      }
      img{
        text-indent:100%;
        object-fit: cover;
        height: 100%;
      }
    }
    &__time{
      font-size: 0.8rem;
      right: 2rem;
      color: gray;
      position: absolute;
    }
  }
  .border-bottom{
    border-bottom: 1px solid lightgray;
    position: relative;
  }
}

.icon-title,.icon-text{
  width: 6rem;
  // height: 2.5rem;
  padding-left: 0.5rem;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#topic-new__post-btn-flame{
  // position: fixed;
  // bottom: 8%;
  width: 100vmin;
}