.topic-box
  .topic-box__inner
    .topic-box__inner__left
      .status-now 受付中
      .status-mail 返信
      .status-mail-count
        %p 件
    .topic-box__inner__right
      .topic-box__inner__right__title トピックタイトルトピックタイトルトピックタイトルトピックタイトルトピックタイトル
      .topic-box__inner__right__info
        .topic-box__inner__right__info__category
          %p 旅行
        .topic-box__inner__right__info__user
          %p ユーザー名
        .topic-box__inner__right__info__time
          %p ３０分前