.mobile-body
  =render 'module/header'
  .mobile-body__inner
    =render 'topic-box'
    =render 'topic-box'
    =render 'topic-box'
    =render 'topic-box'
    =render 'topic-box'
    =render 'topic-box'
    =render 'topic-box'
    =render 'topic-box'
    =render 'topic-box'
    =render 'topic-box'
    =render 'topic-box'
    =render 'topic-box'
    =render 'topic-box'
    =render 'topic-box'
  =render 'module/footer'