// パスワード再設定　passwords/edit　passwords/new　共通ーーーーーーーーー
.title_background{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.page-header{
}

.pass_new_background,.registrations_background{
  height: calc(100vh - 116px);
  background-color: $madnavy;
  padding: 5%;
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
.registrations{
  width: 65vmin;
  input{
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
  }
}
.email{
  height: 8rem;
}

.password_confirmation{
  height: 8rem;
}

.actions{
width: 100%;
height: 4rem;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;
background-color: white;
color: $madnavy;
  .in_field{
    width: 100%;
    height: 100%;
    input{
      color: inherit;
      background: none;
      border: none;
      font-size: inherit;
      width: 100%;
      height: 100%;
      justify-content: center;
    }
  }
}