.mobile-body__bottom__message-container{
  margin-bottom: 1%;
  background-color: white;
  .message-container__input-message {
    height: 6vmax;
    display: flex;
    align-items: center;
    width: 90vmin;
    margin: auto;
    &__input-area {
      width: 80%;
      height: 100%;
      margin: auto;
      padding: 10px 16px 8px;
      border: 1px solid black;
      background: #fff;
      line-height: 1.5;
      cursor: pointer;
      // outline-width: 2px;
      // overflow: scroll;
    }
    &__btn {
      background-color: gray;
      border-radius: 10px;
      color: white;
      width: 15%;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        color: white;
      }
    }
  }
}