.mobile-body__headparts{
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
  .mobile-body__header{
    background-color: white;
    height: 40px;
    width: 100vw;
    display: flex;
    align-items: center;
    font-size: 0.2rem;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    background-size: cover;
    &__service__name{
      font-size: 1rem;
      color: black;
      font-weight: bold;
      cursor: pointer;
      position: absolute;
      left: 15px;
      z-index: 1;
      margin-bottom:0rem ;
      h5{
        margin-bottom:0rem ;
      }
    }
    &__title{
      color: dimgray;
      font-size: 0.9rem;
      font-weight: lighter;
      text-align: center;
      width: 100vmin;
      margin: auto;
      position: unset;
      z-index: 0;
    }
  }
}

.mobile-body__headparts__white{
  position: fixed;
  top:0;
  z-index: 1;
  height: 9%;
  .mobile-body__header{
    height: 6%;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.2rem;
    font-weight: lighter;
    border-bottom: 1px solid #0000000f;
    background-color: white;
    padding-right: 15px;
    &__title{
    position: absolute;
    right: 0%;
    left: 0%;
    color: navy;
    font-size: 1rem;
    text-align: center;
    }
  }
}

.header-hidden-space{
  height: 9%;
  background-color: white;
}

.icon-frame{
  position: absolute;
  right: 12px;
  .user_icon{
    height: 100%;
    align-items: center;
    display: flex;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    a{
      height: 30px;
      width: 30px;
      background-image: url('no-photo-icon-22');
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      white-space: nowrap;
    }
    img{
      border-radius: 5px;
      object-fit: cover;
      text-indent: 100%;
    }
  }
}

.question-btn-frame{
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
  width: max-content;
}

.bread-crumb{
border-bottom: none;
}