.mobile-body__bottom-parts{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 41px;
}


.mobile-body__footer{
  height: 7%;
  width: 100%;
  border-top: 1px solid dimgray;
  background-color: white;
  display: inline-grid;
  align-items: center;
  .mobile-body__footer__inner{
    display: flex;
    padding-top: 1px;
    &__icon-box{
      width: 25%;
      height: 100%;
      font-weight: lighter;
      color:dimgrey;
      font-size: 0.6rem;
      display: inline-grid;
      text-align: center;
      justify-content: center;
      &:hover .material-icons.md-dark.md-inactive{
        color: $red;
      }
      &:hover .icon-item-title{
        color: $red;
      }
      .material-icons.md-dark.md-inactive{
        color: rgba(0, 0, 0, 0.26);
      }
    }
  }
}


.material-icons.md-dark.md-inactive.soudan{
  padding-top: 1px;
}

