.my-page
  =render 'shared/header'
  .space-10
  .my-page-flame
    .my-card
      .my-card__user-avater
        .my-card__user-avater__inner
          = image_tag @user.avater
      .my-card__name-and-status
        .my-card__user-name
          %p #{@user.name}
        .my-card__status
          良い評価　
          %p #{@user.thanks.count}
        .my-card__status
          悪い評価　
          %p #{@user.bads.count}

    .my-page-flame__innner
      %li.global-nav__item
        %a{href: topics_search_path}
          %i.material-icons.md-dark.md-inactive#material-icons-custom
            search
            %p カテゴリー検索

      %li.global-nav__item
        %a{href: topics_path}
          %i.material-icons.md-dark.md-inactive#material-icons-custom
            format_list_bulleted
            %p 投稿一覧

      %li.global-nav__item
        %a{href: user_chat_rooms_path(user_id: current_user.id)}
          %i.material-icons.md-dark.md-inactive#material-icons-custom
            message
            %p 受信メッセージ一覧

      %li.global-nav__item
        %a{href: user_topics_path(current_user.id)}
          %i.material-icons.md-dark.md-inactive#material-icons-custom
            list_alt
            %p あなたの投稿一覧

      %li.global-nav__item
        %a{href: edit_user_registration_path}
          %i.material-icons#material-icons-custom
            settings
            %p 各種設定

      %li.global-nav__item
        %a{href: destroy_user_session_path,  method: :delete}
          %i.material-icons#material-icons-custom
            exit_to_app
            %p ログアウト


=render 'shared/footer-bar'
