.breadcrumbs-header-contener
  .breadcrumbs-header
    - breadcrumb :user_show
    = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "

.main-body
  .message-page
    = render "shared/side-bar"

  .message-page-right
    .message-container