.breadcrumbs-header-contener
  .breadcrumbs-header
    - breadcrumb :product_index
    = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "

.img-main-body
  .user-products-index
    = render partial: 'shared/product-show-box', collection: @products, as: :product

  -# .message-page
  -#   = render "shared/side-bar"

.user-likes-products
  %h3 いいねしている投稿
  - @user.liked_products.each do |product|
    = product.user.name
    = product.introduction