- case params.values_at :controller, :action

- when ['topics', 'index']
  - breadcrumb :topics_index

- when ['topics', 'new']
  - breadcrumb :topics_new

- when ['topics', 'show']
  - breadcrumb :topics_show

- when ['user_chat_rooms', 'index']
  - breadcrumb :user_chat_rooms_index

- when ['chat_rooms', 'index']
  - breadcrumb :users_topic_chat_rooms

- when ['chat_rooms', 'show']
  - breadcrumb :chat_rooms_show

- when ['users', 'mypage']
  - breadcrumb :user_mypage

- when ['users/registrations', 'edit']
  - breadcrumb :user_edit

- when ['users/registrations', 'new']
  - breadcrumb :user_signup

- when ['users/sessions', 'new']
  - breadcrumb :user_login

- when ['users', 'user_topics']
  - breadcrumb :user_topics


= breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "

-# - when ['users', 'show']
-#   - breadcrumb 'users_show'

-# - elsif params[:controller] == 'rooms' && params[:action] == 'index'
-#   - breadcrumb 'mail_box'

-# - elsif params[:controller] == 'rooms' && params[:action] == 'show'
-#   - breadcrumb 'message_room'

-# -# - elsif params[:controller] == 'products' && params[:action] == 'search'
-# -#   - breadcrumb 'search'.to_sym

-# -# - elsif params[:controller] == 'users/registrations' && params[:action] == 'edit'
-# -#   - breadcrumb 'users_edit'.to_sym

-# -# - elsif params[:controller] == 'users' && params[:action] == 'logout'
-# -#   - breadcrumb 'logout'.to_sym

