- case params.values_at :controller, :action

- when ['topics', 'index']
  - breadcrumb :topics_index

- when ['topics', 'new']
  - breadcrumb :topics_new

- when ['topics', 'show']
  - breadcrumb :topics_show

- when ['topics', 'search']
  - breadcrumb :topics_search

- when ['user_chat_rooms', 'index']
  - breadcrumb :user_chat_rooms_index

- when ['chat_rooms', 'index']
  - breadcrumb :users_topic_chat_rooms

- when ['chat_rooms', 'show']
  - breadcrumb :chat_rooms_show

- when ['users', 'show']
  - breadcrumb :user_show

- when ['users/registrations', 'edit']
  - breadcrumb :user_edit

- when ['users/registrations', 'new']
  - breadcrumb :user_signup

- when ['users/sessions', 'new']
  - breadcrumb :user_login

- when ['users', 'user_topics']
  - breadcrumb :user_topics


= breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "