.mobile-body__headparts
  - flash.each do |key, value|
    = content_tag(:div, value, class: "#{key}", id: "#{key}")

  .mobile-body__header
    .mobile-body__header__service__name
      %a{href: root_path}
        %h5 soudan
    .mobile-body__header__title
      = header_title
    .top-page__search-icon.black-color
      %i.material-icons.md-dark.md-inactive
        %a{href: topics_search_path} search
    - unless user_signed_in?
      - unless params[:controller] == 'users/sessions' && params[:action] == 'new'
        .login-black-btn
          %a{href: new_user_session_path}ログイン
    - else
      =render 'shared/hamburger'
      =render 'shared/toggleNav'
  .bread-crumb
    =render 'shared/breadcrumbs'
