%section.top-page__headparts
  .top-page__header
    .top-page__logo
    .top-page__title
      %a{href: root_path}
        %h4 soudan
    .top-page__search-icon
      %i.material-icons.md-dark.md-inactive
        %a{href: topics_search_path} search
    - unless user_signed_in?
      .white-line-btn
        %a{href: new_user_registration_path}ユーザー登録
      .login-wihte-btn
        %a{href: new_user_session_path}ログイン
    - else
      =render 'shared/hamburger'
      =render 'shared/toggleNav'