.notice {
  background-color: green;
  color: #white;
  text-align: center;
  transition-duration: 5s;
}

.alert {
  background-color: red;
  color: #white;
  text-align: center;
  transition-duration: 5s;
}