
  .white-line-btn{
    display: flex;
    // width: 23%;
    height: 50%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    color: white;
    position: relative;
    margin-right: 5%;
    cursor: pointer;
    i{
      width: 23%;
      display: block;
    }
    p{
      size: 1.5rem;
      font-size: 0.8rem;
      margin: 0% 1px;
    }
  }

  .nocolor-btn{
    display: flex;
    // width: 23%;
    height: 70%;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 5%;
    cursor: pointer;
    i{
      width: 23%;
      display: block;
    }
    p{
      size: 1.5rem;
      font-size: 0.8rem;
    }
  }

  .start-soudan{
    width: 70vmin;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vmax;
    cursor: pointer;
    .start-btn{
      height: 7.5vh;
      margin: 2vmin 0%;
      width: 100%;
      border-radius: 0.4rem;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
    }
  }

  .start-soudan-sm{
    width: 70vmin;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    &__start-btn{
      height: 7.5vh;
      margin: 8vmin 0%;
      width: 100%;
      border-radius: 2rem;
      background-color: #e91e63;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
    }
  }

.sns-select-flame{
  position: static;
  display: flex;
  justify-content: center;

  .sns-select{
    width: 60vmin;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: grey;
    position: absolute;
    bottom: 5rem;
    .sns-select__mail{
      height: 7vh;
      margin: 3vmin 0%;
      width: 100%;
      border-radius: 0.4rem;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      &_logo{
        background: url(l_e_inquiry_141);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 8%;
        height: 50%;
        position: absolute;
        left: 14%;

      }
    }
    .sns-select__google{
      height: 7vh;
      margin: 3vmin 0%;
      width: 100%;
      border-radius: 0.4rem;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      &_logo{
        background: url(icons8-googleのロゴ);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 16%;
        height: 50%;
        position: absolute;
        left: 10%;
      }
    }
    .sns-select__line{
      height: 7vh;
      margin: 3vmin 0%;
      width: 100%;
      border-radius: 0.4rem;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      &_logo{
        background: url(LINE_SOCIAL_Basic);
        background-repeat: no-repeat;
        background-size: contain;
        width: 12%;
        height: 50%;
        position: absolute;
        left: 12%;
      }
    }
    .sns-select__twitter{
      height: 7vh;
      margin: 3vmin 0%;
      width: 100%;
      border-radius: 0.4rem;
      background-color:white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      &_logo{
        background: url(Twitter_Social_Icon_Rounded_Square_Color);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 12%;
        height: 50%;
        position: absolute;
        left: 12%;
      }
    }
  }

  .sns-select-signin{
    width: 60vmin;
    margin: 2vmax auto;
    font-family: 'Roboto', sans-serif;
    color: grey;
    .sns-select-signin__google{
      border: 1px solid grey;
      height: 7vh;
      margin: 3vmin 0%;
      width: 100%;
      border-radius: 0.4rem;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      &_logo{
        background: url(icons8-googleのロゴ);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 16%;
        height: 50%;
        position: absolute;
        left: 10%;
      }
    }
    .sns-select-signin__line{
      border: 1px solid grey;
      height: 7vh;
      margin: 3vmin 0%;
      width: 100%;
      border-radius: 0.4rem;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      &_logo{
        background: url(LINE_SOCIAL_Basic);
        background-repeat: no-repeat;
        background-size: contain;
        width: 12%;
        height: 50%;
        position: absolute;
        left: 12%;
      }
    }
    .sns-select-signin__twitter{
      border: 1px solid grey;
      height: 7vh;
      margin: 3vmin 0%;
      width: 100%;
      border-radius: 0.4rem;
      background-color:white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      &_logo{
        background: url(Twitter_Social_Icon_Rounded_Square_Color);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 12%;
        height: 50%;
        position: absolute;
        left: 12%;
      }
    }
  }
}


.my-page_btn{
  .dm-btn{
    display: flex;
    width: 150px;
    margin: auto;
    justify-content: center;
    border: 1px solid red;
    border-radius: 4px;
    color:  red !important;
    padding: 5px;
    height: 3rem;
    cursor: pointer;
  }
  .dm-btn:hover {
    background-color: red;
    color:white !important;
  }
  a{
    text-align: center;
    align-items: center;
    text-decoration: none;
  }
  a:hover {
    background-color: red;
    color:white !important;
  }
}


.register-btn {
  width: 100%;
  height: 6vh;
  border-radius: 0.5rem;
  margin: 3vmin 0%;
  background-color: #00a4bb;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;

  a{
    position: absolute;
  }
}

.post-btn {
  width: 100%;
  height: 6vh;
  border-radius: 0.5rem;
  background-color: $red;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;

  a{
    position: absolute;
  }
}

.question-btn{
  display: flex;
  width:max-content;
  height: 70%;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  cursor: pointer;
  // padding-right: 1.5rem;

  i{
    font-size: 1.1rem;
    width: 23%;
    display: block;
    margin-right: 4px;

  }
  a{
    size: 1.5rem;
    font-size: 0.9rem;
    font-size: bold;
  }
}

.button_to{
  color: white;
  #thanks-btn{
    color: #00a4bb;
    border:1px solid  #00a4bb;
    cursor: pointer;
  }
  #thanks-btn-aledy{
    color: white;
    background-color: #00a4bb;
    cursor: pointer;
    border: none;
  }
}

.button_to{
  // color: white;
  #bad-btn{
    border: none !important;
    color: gray;
    font-size:x-small;
    justify-content: flex-end;
    cursor: pointer;
    margin-left: 4px;
  }
  #bad-btn-aledy{
    background-color:red;
    border:1px solid  red;
    color: white;
    cursor: pointer;
    margin-left: 4px;
  }
}
.topic-close{
  position: absolute;
  width: max-content;
  right: 0;
  color: gray;
  background-color: whitesmoke;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-right: 4%;
  font-size: 1rem;
  font-weight: lighter;
  cursor: pointer;
  }