.breadcrumbs-header-contener{
  width: 80%;
  margin: auto;
  color:gray;
  // border-top: 1px solid #eee;
  // border-width: thin;
  padding-top: 5px;
  margin-bottom: 30px;
  // box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  .breadcrumbs-header{
    // width: 1020px;
    // margin: 0 auto;
    // font-size: 13px;
    // letter-spacing: 0.1em;
  }
}

// .current{
//   font-weight: 800;
// }
