.breadcrumbs-header-contener{
  width: 100%;
  margin: auto;
  border-top: 1px solid #eee;
  border-width: thin;
  padding: 1.4% 0%;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  .breadcrumbs-header{
    width: 1020px;
    margin: 0 auto;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #333;
  }
}

.current{
  font-weight: 800;
}
