.notice {
  padding: 0px;
  margin: 0px auto;
  background-color:$madgreen;
  color: #FFFFFF;
  width: 100vw;
  height: 6%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.alert {
  padding: 0px;
  margin: 0px auto;
  background-color:$red;
  color: #FFFFFF;
  width: 100vw;
  height: 6%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.success {
  padding: 0px;
  margin: 0px;
  background-color: $madgreen;
  color: #FFFFFF;
  width: 100%;
  height: 6%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}