// /*====================
// スマホを基本設計にする
//  - 〜479px：スマートフォン縦
//  - 480px〜599px：スマートフォン横
//  - 600px〜959px：タブレット
//  - 960px〜1279px：小型PC
//  - 1280px〜：大型PC
// ====================*/
// @media screen and (max-width:639px) {
  /*スマホ用のcssを記述*/


  .space-1{
    height: 10px;
    width: 100%;
  }

  .space-2{
    height: 20px;
    width: 100%;
  }

  .space-3{
    height: 3vmax;

  }

  .space-4{
    height: 4vmax;
  }

  .space-5{
    height: 5vmax;
  }

  .space-10{
    height: 10vmax;
  }

  .mobile-body__main{
    width: 100%;
    height: 100%;
    padding: 20px;
    &__inner{
      width: 100%;
      height: 100%;
    }
  }

  .no_message{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  }