// /*====================
// スマホを基本設計にする
//  - 〜479px：スマートフォン縦
//  - 480px〜599px：スマートフォン横
//  - 600px〜959px：タブレット
//  - 960px〜1279px：小型PC
//  - 1280px〜：大型PC
// ====================*/
// @media screen and (max-width:639px) {
  /*スマホ用のcssを記述*/

  .mobile-body__headparts{
    width: 100vw;
    position: sticky;
    .mobile-body__header{
      height: 6vh;
      width: 100vw;
      display: flex;
      align-items: center;
      font-size: 0.2rem;
      font-weight: bold;
      border-bottom: 1px solid lightgray;
      background-size: cover;
      &__service__name{
        font-size: 1rem;
        color:black;
        font-weight: bold;
        cursor: pointer;
        padding-left: 5%;
        width: 10vw;
      }
      &__title{
        color: dimgray;
        font-size: 0.9rem;
        font-weight: lighter;
        text-align: center;
        width: 50vw;
        margin: auto;
        position: absolute;
        position: unset;
      }
    }
  }

  .mobile-body__headparts__white{
    position: fixed;
    top:0;
    z-index: 1;
    height: 9vh;
    .mobile-body__header{
      height: 6vh;
      width: 100vw;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 0.2rem;
      font-weight: lighter;
      border-bottom: 1px solid #0000000f;
      background-color: white;
      padding-right: 15px;
      &__title{
      position: absolute;
      right: 0%;
      left: 0%;
      color: navy;
      font-size: 1rem;
      text-align: center;
      }
    }
  }

  .header-hidden-space{
    height: 9vh;
    background-color: white;
  }
.icon-frame{
  width: 10vw;
  height: 100%;
  .user_icon{
    height: 100%;
    align-items: center;
    display: flex;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    a{
      height: 30px;
      width: 30px;
      background-image: url('no-photo-icon-22');
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      white-space: nowrap;
    }
    img{
      border-radius: 5px;
      object-fit: cover;
    }
  }
}

.question-btn-frame{
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
  width: max-content;
}

.bread-crumb{
border-bottom: none;
}