.breadcrumbs-header-contener
  .breadcrumbs-header
    -# - breadcrumb :room_index
    -# = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "
.main-body
  .message-page
    = render "shared/side-bar"
    .mail-box
      - @another_entries.each do |e|
        .mail-box__inner
          .mail-box__info
            .mail-box__info__send-user-name
              = link_to user_room_path(e.user.id, e.room.id) do
                = e.user.name
                さんとのメッセージルーム
          -#   .mail-box__info__send-time
          -#     %p 最終送信日：
          -#     = l(message.created_at, format: :long)
          -# .mail-last-message
          -#   = message.content