.breadcrumbs-header-contener{
  width: 80%;
  margin: auto;
  color:gray;
  padding-top: 5px;
  margin-bottom: 30px;
  .breadcrumbs-header{
  }
}

.bread-crumb{
  background-color: white;
  font-size: 0.8rem;
  color: darkgray;
  padding-left: 5%;
  background-color: white;
  border-bottom: 1px solid lightgray;
}


.breadcrumbs{
  font-size: x-small;
  padding-top: 2px;
  }

#bread-crumb__mypage{
  font-size: 0.8rem;
  padding-left: 5%;
  width: 85%;
  margin: auto;
  background-color: none;
  background: none;
  color: black;
  border: none;
}