#error_explanation{
  border: 1px solid red;
  width: 100%;
  margin: auto;
  padding: 0% 5%;
  color: red;
  text-align: left;
  h2{
    font-size: 0.8rem;
  }
  ul{
    font-size: 0.8rem;
  }
}

.devise_error_messages{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  width: calc(100% - 40px);
  margin: auto;
  padding: 0% 20px;
  text-align: center;
  p.error_msg{
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: small;
  }
}