.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,.16);
}
.global-nav {
  position: fixed;
  right: -320px; /* これで隠れる */
  top: 0;
  width: 300px; /* スマホに収まるくらい */
  height: 100%;
  padding-top: 40px;
  background-color: #fff;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
  li{
    color: dimgray;
    a{
      color: dimgray;
      width: 100%;
      height: 100%;
    }
  }
}
.hamburger {
  position: fixed;
  right: 0;
  top: 0;
  width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
}
.global-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-nav__item {
  padding-left:15px;
  height: 50px;
  display: flex;
  align-items: center;
}
.global-nav__item a {
  display: block;
  padding: 8px 0;
  // border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #111;
}
.global-nav__item a:hover {
  background-color: #eee;
}
.hamburger__line {
  position: absolute;
  left: 11px;
  width: 18px;
  height: 1px;
  background-color: #111;
  transition: all .6s;
}
.hamburger__line--1 {
  top: 14px;
}
.hamburger__line--2 {
  top: 20px;
}
.hamburger__line--3 {
  top: 26px;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}




.user-infomation{
  height: 120px;
  width: 100%;
}

.my-card{
  height: 100%;
  width: 100%;
  display: flex;
  padding-top: 15px;
  padding-right

  i{
    position: absolute;
    right: 0%;
    top: 6%;
    color: gray;
    cursor: pointer;
    text-align: center;
    font-size: 1.1rem;
    &:hover{
      color:dimgray;
    }
  }
  p{
    // font-size: 20px;
    color: DimGray;
   }

  &__background-img{
    margin: auto;
    height: 40%;
  }
  &__user-avater{
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 10px;
    &__inner{
      background-image: url('no-image');
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      white-space: nowrap;
      height: 80px;
      width: 80px;
      img {
        border-radius: 5px;
        height:100%;
        text-indent:100%;
        object-fit: cover;
      }
    }
  }
  &__user-name {
    margin: 0 0 10px 0;
    margin-block-start: 0%;
    margin-block-end: 1rem;
    p{
      font-size: 18px;
      font-weight: bolder;
      text-align: unset;
    }
  }
  &__status{
    font-size: small;
    p{
      display: contents;
      color: inherit;
      margin-top: 1rem;
      font-size: small;
    }
  }
}

#material-icons-custom{
  display: flex;
  align-items: center;
  font-size: 24px;
  width: 100%;
  height: 100%;
  a{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  p{
    font-size: initial;
    height: 24px;
    padding: 0px 0px;
    padding-left:10px;
    padding-top: 2px;
  }
}
#material-icons-edit{
  position: absolute;
  font-size: 1rem;
  top: 3px;
  right: 0px;
  color: gray;
}
#material-icons-custom-soudan{
display: flex;
align-items: center;
font-size: 24px;
  a{
    margin: 0;
    padding: 0;
    color: white;
  }
  p{
    font-size: initial;
    height: 24px;
    padding: 0px 0px;
    padding-left:10px;
    font-weight: bold;
  }
}

.new-message-badge{
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: inherit;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 72%;
  font-size: 14px;
  font-weight: bold;
}