// @import 'modules/_reset';
@import 'modules/_flash';
@import 'users';

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

* { box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: url("2.jpg");
  height: 800px;
  background-size: cover;
  object-fit: cover;
}