$madgreen: #00a4bb;
$red:#e91e63;
$darknavy: #000040;
$madnavy: #243148;
$linecolor: #00C300;
$linecolor-hover: #00E000;


// 個別共通設定　ーーーーーーーーーーー

* { box-sizing: border-box;
}

body{
  font-family: -apple-system-body, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans Japanese", "游ゴシック  Medium", "Yu Gothic Medium", "メイリオ", meiryo, sans-serif;
  margin: 0px !important;
  width: 100vw;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

html,body { height:100%; }

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0rem;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  // display: none;
  -webkit-appearance: none;
  -webkit-overflow-scrolling: touch;
}

img {
  width: inherit;
}

input , textarea , select {
  /* 入力欄にフォーカスが当たっても拡大しない */
  font-size: 16px;
  outline: 0;
  -webkit-appearance: none;
  }



// /*====================
// スマホを基本設計にする
// vertical（縦）画面
//  - 〜479px：スマートフォン縦
//  - 600px〜959px：タブレット

// side（横）画面
//  - 480px〜599px：スマートフォン横
//  - 960px〜1279px：小型side
//  - 1280px〜：大型side
// ====================*/


// @media screen and (orientation: portrait) {/* 縦向き */}
// @media screen and (orientation: landscape) {/* 横向き */}


// スマホ縦
@media screen and (orientation: portrait) {
  @import 'vertical/tablet';
  @import 'vertical/soudan-top';
  @import 'vertical/users';
  @import 'vertical/topics';
  @import 'vertical/chat_room';
  @import 'vertical/search';
  @import 'vertical/modules/reset';
  @import 'vertical/modules/flash';
  @import 'vertical/modules/breadcrumbs';
  @import 'vertical/modules/tablet_header_white';
  @import 'vertical/modules/tablet_footer';
  @import 'vertical/modules/chat';
  @import 'vertical/modules/input-message';
  @import 'vertical/modules/botton';
  @import 'vertical/modules/error';
  @import 'vertical/modules/product-show-box';
  @import 'vertical/modules/soudan';
  @import 'vertical/modules/hamburger';
  @import 'vertical/modules/edit_password';
}


// スマホ横
@media screen and (orientation: landscape)  {
  @import 'side/tablet';
  @import 'side/soudan-top';
  @import 'side/users';
  @import 'side/topics';
  @import 'side/chat_room';
  @import 'side/search';
  @import 'side/modules/reset';
  @import 'side/modules/flash';
  @import 'side/modules/breadcrumbs';
  @import 'side/modules/tablet_header_white';
  @import 'side/modules/tablet_footer';
  @import 'side/modules/chat';
  @import 'side/modules/input-message';
  @import 'side/modules/botton';
  @import 'side/modules/error';
  @import 'side/modules/product-show-box';
  @import 'side/modules/soudan';
  @import 'side/modules/hamburger';
  @import 'side/modules/edit_password';
}

// @import 'tablet';
// @import 'soudan-top';
// @import 'users';
// @import 'topics';
// @import 'chat_room';
// @import 'search';

// @import 'modules/reset';
// @import 'modules/flash';
// @import 'modules/breadcrumbs';
// @import 'modules/tablet_header_white';
// @import 'modules/tablet_footer';
// @import 'modules/chat';
// @import 'modules/input-message';
// @import 'modules/botton';
// @import 'modules/error';
// @import 'modules/product-show-box';
// @import 'modules/soudan';
// @import 'modules/hamburger';
// @import 'modules/edit_password';