.cropper-crop-box{
  width: 300px !important;
  height: 200px !important;
  margin: auto !important;
  transform: translateY(0px) !important;
  transform: translateX(0px) !important;
}

.cropper-container.cropper-bg{
  height: 77% !important;
}
