// /*====================
// スマホを基本設計にする
//  - 〜479px：スマートフォン縦
//  - 480px〜599px：スマートフォン横
//  - 600px〜959px：タブレット
//  - 960px〜1279px：小型PC
//  - 1280px〜：大型PC
// ====================*/
// @media screen and (max-width:639px) {
  /*スマホ用のcssを記述*/

  .mobile-body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    section{
      margin-top: 2px;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      width: 100vw;
      overflow-x: hidden;
      height: calc(100vh - 15vh);
    }
    &__inner{
      width: 100vmin;
      margin: 9vh auto 0 auto;
      height: 84%;
      // position: fixed;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    &__inner__fixed{
      width: 100vmin;
      margin: auto;
    }
  }


  .mobile-body__main__index{
    width: 100%;
    height: 100vh;
    padding: 20px;
    z-index: 0;
    background: image-url('business-3421076_1920');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: white;
    scroll-snap-align: start;

    &__inner{
      width: 100%;
      height: 100%;
      p.service{
        font-size: 0.5rem;
        margin-bottom: 0px;
      }
      a{
        font-size: 0.5rem;
      }
    }
  }

